<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoOfPlay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>183E74AC1E81FACE00B3B14B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183E74C51E81FACE00B3B14B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183E74D01E81FACE00B3B14B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
